* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --intro-section-bg: #c6dce3;
  --green: #56c100;
  --dark: #142930;
  --music-section-text: #C6DCE3;

}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-size: 1rem;
  color: var(--dark);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

svg {
  width: 32px;
  height: 32px;
}

p {
  line-height: 1.4;
}