.page_intro_section {
  background: var(--intro-section-bg);
}

.intro_wrapper {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0 1.5rem;
}

.intro_wrapper h1 {
  text-align: center;
  font-size: 3.5rem;
  color: var(--green);
  letter-spacing: 5px;
}

.latest_music {
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.latest_music_info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.latest_music_info h3 {
  font-size: 1.6rem;
}

.latest_music_info a {
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid black;
  width: 32.5%;
  text-align: center;
  border-radius: 25px;
}

.all_music_wrapper,
.videos_wrapper,
.about_wrapper {
  padding: 4rem 1rem;
}

.music_section,
.about_section {
  color: var(--music-section-text);
  background: var(--dark);
}

.video_section {
  color: var(--music-section-text);
  background: url('../../public/broski.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.music {
  text-align: center;
}

.music h3 {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.music a {
  border-bottom: 1px solid var(--music-section-text);
  padding-bottom: 0.1rem;
}

.coming_soon {
  padding: 3rem 0;
  text-align: center;
  font-size: 3rem;
}

.social_medias ul {
  display: flex;
  gap: 1rem;
  justify-content: center;
  list-style: none;
}

.social_medias svg {
  fill: var(--dark);
}

.subscription_wrapper h2+div form {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  flex-direction: column;
}

.subscription_wrapper {
  padding: 3rem 1rem;
}

.email {
  border-right: none;
  border-top: none;
  border-left: none;
  border-bottom: 1px solid var(--dark);
  padding: 1rem 0.8rem 0.8rem;
  font-size: 1.3rem;
  background: transparent;
}

.submit {
  padding: 0.9rem 0;
  font-size: 1rem;
  font-weight: 600;
  background: transparent;
  border: 1px solid var(--dark);
}

.submit,
.email {
  width: 100%;
  color: inherit;
}

.footer {
  padding: 2rem 0;
  background: var(--intro-section-bg);
}

.footer_img_wrapper {
  display: none;
}

.copyright {
  text-align: center;
  padding: 1rem 0 0;
}

@media screen and (min-width:800px) {
  .latest_music {
    flex-direction: row;
  }

  .latest_music_info a {
    width: 200px;
    margin: 0;
  }

  .latest_music_info {
    flex-grow: 1;
    gap: 1.8rem;
  }

  .intro_wrapper {
    min-height: 100vh;
    justify-content: flex-end;
    gap: 10rem;
  }

  .subscription_wrapper h2+div form {
    flex-direction: row;
    justify-content: flex-start;
    width: 500px;
  }

  .subscription_wrapper h2 {
    text-align: start;
  }

  .social_medias ul {
    justify-content: flex-end;
  }

  .copyright {
    text-align: end;
  }

  .intro_wrapper h1 {
    font-size: 6rem;
  }
}