.main h1 {
    font-size: 5rem;
    margin-bottom: 1.5rem;
}

.main h2 {
    font-size: 2.5rem;
}

.hero_img {
    background: bisque;
}

.intro_wrapper {
    padding: 0 0.8rem;
    margin-bottom: 4rem;
}

.intro_tag {
    line-height: 1.4;
    width: 220px;
    border: 1px solid rgb(189, 189, 189);
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 1.8rem;
    color: bisque;
}

.music_section {
    text-align: center;
}

.music_section>div {
    padding: 6rem 0;
}

.artcover {
    display: block;
    margin: 0 auto;
}

.music_section h2 {
    margin-bottom: 4rem;
}

.music_section p {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: bisque;
}

.music_section button {
    background: none;
    color: inherit;
    font-size: 1.3rem;
    border-bottom: 1px solid var(--white);
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 0.5rem;
    padding: 0.2rem 0.3rem;
}

.about_section {
    padding: 4rem 0;
}

.about_section h2 {
    margin-bottom: 2.4rem;
}

.about_text_wrapper {
    padding: 4rem 0.8rem;
}

.about_text_wrapper p {
    margin-bottom: 2rem;
}

.about_img {
    background: bisque;
}

.about_wrapper {
    background: var(--overlay);

}

.about_text_wrapper p {
    line-height: 1.6;
}

.video {
    text-align: center;
    padding: 5rem 0;
}

@media screen and (min-width:1000px) {
    .subscribe>h2+div {
        display: flex;
        justify-content: center;
        gap: 2rem;
        align-items: center;
    }

    .form_section,
    .subs_img {
        flex-grow: 1;
    }

    .subs_img {
        width: 414px;
    }

    .subscribe h2 {
        margin-bottom: 8rem;
    }
}